.header {
   @apply flex w-full justify-between items-center;
   margin-top: 5vw;
   margin-bottom: clamp(50px, 15vw, 100px);
}

.navigation {
   display: flex;
   @apply text-ordinary;
   column-gap: clamp(10px, 10vw, 100px);
}

.link {
   font-size: clamp(18px, 1.6vw, 25px);
   text-wrap: nowrap;
   position: relative;
   :hover {
      @apply text-section-title-color;
   }
   &::after {
      content: "";
      display: inline-block;
      width: 0;
      height: 1px;
      position: absolute;
      bottom: 0;
      left: 0;
      background: #54b3d6 no-repeat;
      transition: all 0.3s;
   }
   &:hover::after {
      width: 100%;
   }
}

.link.link_active {
   background: -webkit-linear-gradient(#eee, #333);
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

.signWrapper {
   @apply w-full h-full overflow-hidden flex items-center justify-center fixed top-0 left-0 z-10;
   padding-inline: 20px;
   backdrop-filter: blur(6px);

   div {
      @apply flex flex-col justify-between items-center rounded-lg relative;
      width: 100%;
      max-width: 609px;
      height: 50%;
      padding: 3rem;
      background-color: #e5e7eb;
      svg {
         position: absolute;
         top: 10px;
         right: 10px;
         width: 35px;
      }
   }
}
